<ul title="Belle &amp; Sebastian">
    <li><a href="#songs">Boy With The Arab Strap</a></li>
    <li><a href="#songs">Dear Catastrophe Waitress</a></li>
    <li><a href="#songs">The Life Pursuit</a></li>
</ul>