<h1>预定历史记录</h1>

<table>
  <tr>  
    <th>餐馆名称</th>
    <th>预定时间</th>
    <th>联系人</th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= link_to booking.vendor.name, booking.vendor %></td>
    <td><%= booking.created_at.to_s(:db)%></td>
    <td><%=booking.contact%></td>
  </tr>
<% end %>
</table>

