

<div class='order_form'>
  <% form_for(@booking, :url => vendor_bookings_path,:html => {:class => 'formtastic'}) do |f| %>  
    <%=render :partial => 'form', :locals => {:f=>f}%>
  <% end %>  
</div>

<div class='vendor_info'>
  <%=link_to @vendor.name,vendor_path(@vendor),:class => "title"%> <br /><%=@vendor.address%>
</div>