<h1>用户设定</h1>
<% semantic_form_for @user,:html => {:style=> 'margin-left:120px;'} do |f| -%>
<%= render :partial => 'form',:locals => {:f => f}%>  
<%#= f.inputs :name,:name => '常用地址 %i', :for => :locations %>     
<% f.buttons do %>
  <%= f.commit_button '提交' %>
<% end %> 
<% end -%>