<h1>Editing vendor</h1>

<% semantic_form_for(@vendor) do |f| %>
	<%= render :partial => 'form',:locals => {:f => f} %>
	<%= f.buttons %>
<% end %>

<%= link_to 'Show', @vendor %> |
<%= link_to 'Back', vendors_path %>